.language {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #25282b, -5px -5px 10px #33363a;
  position: fixed;
  display: inline-block;
  width: 50px;
  height: 50px;
  left: 20px;
  bottom: 20px;
  z-index: 99999;
}
