* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.aboutMain {
  background-color: #25272a;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  position: relative;
}
ul.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
  color: #fff;
  padding-right: 20px;
  padding-left: 15px;
}
ul.skills-list li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: var(--purple);
  font-size: var(--fz-sm);
  line-height: 12px;
  padding-top: 3px;
  padding-left: 15px;
}
ul.skills-list li::after {
  content: "▹";
  position: absolute;
  left: 0px;
  color: var(--purple);
  font-size: var(--fz-sm);
  line-height: 12px;
  padding-left: 170px;
  padding-top: 3px;
}

p#aboutHeader {
  color: #6c6ed3;
  margin-top: 35px;
  font-size: 25px;
  font-weight: 800;
}
*.circle-sm.tech {
  margin: 0;
  padding: 0;
  border-radius: 50px;
  background: #24282a;
  box-shadow: 5px 5px 10px #1f2224, -5px -5px 10px #292e30;
  width: 55px;
  height: 55px;
  margin: 10px;
  margin-left: 20px;
}

.jsLogoSm {
  width: 50px;
  height: 50px;
  margin: 2px;
  position: absolute;
}

.reactLogoSm {
  width: 50px;
  height: 50px;
  margin: 2px;
  position: absolute;
}

.htmlLogo {
  width: 50px;
  height: 50px;
  margin: 2px;
  position: absolute;
}

.cssLogoSm {
  width: 50px;
  height: 50px;
  margin: 2px;
  position: absolute;
}

.gitLogoSm {
  width: 50px;
  height: 50px;
  margin: 2px;
  position: absolute;
}

.wordpressLogo {
  width: 50px;
  height: 50px;
  margin: 2px;
  position: absolute;
}

#netcraft {
  color: #6c6ed3;
  text-decoration: none;
  background-color: transparent;
}

@media only screen and (min-width: 990px) {
  /* For tablets: */
  .aboutMain {
    display: flex;
    flex-direction: row-reverse;
  }
  #hero {
    padding-left: 150px;
  }
}

@media only screen and (min-width: 768px) {
  .aboutMain {
    height: 90vh;
  }
  .technologies {
    padding-top: 200px;
  }
  .circle-sm.tech {
    margin: 0;
    padding: 0;
    border-radius: 50px;
    background: #24282a;
    box-shadow: 5px 5px 10px #1f2224, -5px -5px 10px #292e30;
    width: 105px;
    height: 105px;
    margin: 10px;
    margin-left: 20px;
  }
  .jsLogoSm {
    width: 100px;
    height: 100px;
    margin: 2px;
    position: absolute;
  }

  .reactLogoSm {
    width: 100px;
    height: 100px;
    margin: 2px;
    position: absolute;
  }

  .htmlLogo {
    width: 100px;
    height: 100px;
    margin: 2px;
    position: absolute;
  }

  .cssLogoSm {
    width: 100px;
    height: 100px;
    margin: 2px;
    position: absolute;
  }

  .gitLogoSm {
    width: 100px;
    height: 100px;
    margin: 2px;
    position: absolute;
  }

  .wordpressLogo {
    width: 100px;
    height: 100px;
    margin: 2px;
    position: absolute;
  }
  ul.technologies {
    margin-left: 0px;
    margin-top: -30px;
    padding: 20px;
  }
  p.listHeader {
    text-align: center;
    font-weight: 800;
    font-size: 17px;
    color: #6c6ed3;
    padding-bottom: 30px;
  }
  #logoList {
    padding-top: 230px;
  }
}
