* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html {
  font-family: "Roboto Mono", monospace;
}
.Main {
  background-color: #2c3032;
  background-size: cover;
  height: 120vh;
  padding-top: 50px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header-title {
  background-color: #6c6ed3;
  display: block;
  width: 50%;
  padding: 3px;
  margin-top: 50px;
  appearance: none;
  border: none;
  outline: none;
  border-radius: 3px 3px 3px 3px;
  font-weight: 700;
  font-size: 14px;
}

p.header-title {
  color: black;
}
h1,
h2 {
  color: #fff;
}

p {
  color: gray;
}

button {
  background-color: none;
  background: none;
  border: none;
  text-decoration: underline;
  color: #6c6ed3;
}

#Chat {
  font-size: 30px;
  font-weight: 800;
}

.circle-sm {
  border-radius: 50px;
  background: #2c2f32;
  box-shadow: 5px 5px 10px #25282b, -5px -5px 10px #33363a;
  width: 50px;
  height: 50px;
  margin: 30px;
  margin-left: 250px;
}
.circle-md {
  border-radius: 50px;
  background: #2c2f32;
  box-shadow: 5px 5px 10px #25282b, -5px -5px 10px #33363a;
  width: 100px;
  height: 100px;
  margin: 30px;
  margin-top: 100px;
  margin-left: 0px;
  position: relative;
}
.circle-lg {
  border-radius: 50%;
  background: #2c2f32;
  box-shadow: 5px 5px 10px #25282b, -5px -5px 10px #33363a;
  width: 150px;
  height: 150px;
  margin: 30px;
  margin-left: 190px;
  position: relative;
}
.reactLogo {
  width: 100px;
  height: 100px;
  margin: 30px;
}

.jsLogo {
  width: 100px;
  height: 100px;
  margin: 0px;
}
.gitLogo {
  width: 45px;
  height: 45px;
  margin-left: 253px;
  margin-top: -135px;
}
.circle-xl {
  border-radius: 50%;
  background: #2c2f32;
  box-shadow: 5px 5px 10px #25282b, -5px -5px 10px #33363a;
  width: 300px;
  height: 300px;
  margin: 30px;
  margin-top: -400px;
}

.circle-purple {
  border-radius: 50%;
  background: #6c6ed3;
  box-shadow: 15px 15px 29px #25282b, -15px -15px 29px #33363a;
  width: 10px;
  height: 10px;
  margin-left: 150px;
  margin-top: 50px;

  position: absolute;
}
.circle-green {
  border-radius: 50%;
  background: #64f5ac;
  box-shadow: 15px 15px 29px #25282b, -15px -15px 29px #33363a;
  width: 12px;
  height: 12px;
  margin: 0px;
  position: absolute;
  margin-top: 120px;
  margin-left: 50px;
}
a.navbar-brand #text {
  font-weight: 400;
  font-size: 30px;
}
nav.navbar {
  background-color: #2c2f32;
}

.razLogo {
  border-radius: 50%;
  width: 300px;
  height: 270px;
  margin: 30px;
  margin-top: 0px;
  margin-left: 0px;
  padding: 0px;
}

button.navbar-toggler {
  color: #6c6ed3;
}

#mainRow {
  display: flex;
}

@media (max-width: 767px) {
  /* <== You can change this break point as per your  needs */
  #mainRow {
    display: flex;
  }
}

@media only screen and (min-width: 990px) {
  /* For tablets: */
  #mainRow {
    display: flex;
    flex-direction: row-reverse;
  }
  #hero {
    padding-left: 150px;
  }
}

@media only screen and (min-width: 768px) {
  .Main {
    height: 80vh;
  }
  #heroText {
    padding-top: 100px;
  }
}
