* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.projectsMain {
  background-color: #2c2f32;
  background-size: cover;
  height: 100%;
  width: fit-content;
  position: relative;
  display: grid;
  width: 100%;
  align-items: center;
  overflow: hidden;
}

.projectOverline {
  margin: 10px 0px;
  color: #6c6ed3;
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  font-weight: 400;
}
.projectTitle {
  color: var(--white);
}

.projectDescription p {
  padding: 20px 0px;
  background-color: transparent;
  box-shadow: none;
  color: #fff;
}

.projectContent {
  padding: 25px 25px 20px 20px;
  margin: -20px 20px 20px 20px;
}

.projectTechList {
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.techList li {
  margin: 0px 0px 5px 10px;
  display: flex;
  flex-direction: row;
}
.projectTechList {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin: 25px 0px 10px;
  padding: 0px;
  list-style: none;
  color: #fff;
}

.projectLinks {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  z-index: 2;
  float: right;
  padding-top: 10px;
  list-style: none;
  color: #fff;
  padding: 20px 20px 20px 20px;
}
.featherGithub {
  color: #6c6ed3;
  margin: 0px;
  padding: 10px;
}

.featherExternalLink {
  color: #6c6ed3;
  margin: 0px;
  padding: 10px;
}

img.weatherImg {
  height: 200px;
  width: 100%;
  position: absolute;
  border-radius: 50px;
}

.circle-sm-links {
  border-radius: 50%;
  background: #2c2f32;
  box-shadow: 5px 5px 10px #25282b, -5px -5px 10px #33363a;
  width: 50px;
  height: 50px;
  margin: 0px;
  margin-left: 15px;
}

.circle-md {
}
.projectCard {
  border-radius: 15px;
  background: #2c2f32;
  box-shadow: 5px 5px 10px #25272a, -5px -5px 10px #33373a;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 20px 20px 20px 20px;
}
.circle-sm-links:active {
  box-shadow: inset 5px 5px 10px #25272a, inset -5px -5px 10px #33373a;
}

svg {
  height: 50px;
  width: 50px;
}

#projectsHeader {
  color: #6c6ed3;
  padding-left: 40px;
}

@media only screen and (min-width: 575px) {
  .projectsMain {
    height: 100vh;
  }
}

@media only screen and (min-width: 768px) {
  .projectsMain {
    height: 125vh;
  }
}
/* This is a single-line comment 
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.projectCard:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.projectCard:hover .flip-card-back {
  display: block;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
*/

.flip-card {
  background-color: transparent;
  border-radius: 15px;
  background: #2c2f32;
  display: flex;
  /* flex-direction: column; */
  position: relative;
  margin: 20px 20px 20px 20px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  padding: 20px;
}
#card1 {
  background-image: url("../Assets/weatherApp.png");
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}
#card2 {
  background-image: url("../Assets/razImage.png");
  background-size: cover;
  overflow: hidden;
}
#card3 {
  background-image: url("../Assets/razImage.png");
  background-size: cover;
  overflow: hidden;
}
#card4 {
  background-image: url("../Assets/polywebImg.png");
  background-size: cover;
  overflow: hidden;
}
/* Style the front side (fallback if image is missing) */
.flip-card-front {
  border-radius: 15px;
  background: #2c2f32;
  box-shadow: 5px 5px 10px #25272a, -5px -5px 10px #33373a;
  width: 100%;
  height: 100%;
}

/* Style the back side */
.flip-card-back {
  border-radius: 15px;
  background: #2c2f32;
  box-shadow: 5px 5px 10px #25272a, -5px -5px 10px #33373a;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: fit-content;
  transform: rotateY(180deg);
}

.cardTech {
  color: #6c6ed3;
}

p.projectsHeader {
  color: #6c6ed3;
  margin-top: 35px;
  font-size: 25px;
  font-weight: 800;
}

.flip-card-back h1 {
  font-size: 17px;
}
